// @font-face {
//     font-family: 'cigra';
//     src: url("./fonts/Cigra.ttf") format('truetype') ;
  // }
@font-face {
    font-family: 'montreal';
    src: url("./fonts/PPNeueMontreal-Bold.otf") format('truetype') ;
  }
@font-face {
    font-family: 'montreal-book';
    src: url("./fonts/PPNeueMontreal-Book.otf") format('truetype') ;
  }