:root {
  --primary: #fce9eb;
  --black: #000;

  --maxWidth: 1200px;
}

//EXTEND NOT WORKING!
%full-width-override {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

%center-layout {
  max-width: var(--maxWidth);
  margin: 2rem auto 0 auto;
  padding: 5px;
}
%background-image {
  background-image: url('../images/plaster.jpg');
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}

html {
  background-repeat: no-repeat;
  font-family: cigra;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--black);
  text-decoration: none;
}

li {
  list-style: none;
}

p, h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
}