
.container {
  position: absolute;
  left: 0;
  right: 0;
  height: 86vh;
  // background-color: var(--primary);
  background-image: url('../../images/subtle-prism\ \(1\).svg');
  background-position: left top;
  background-repeat: no-repeat;
}

.image {
  position: relative;
  display: flex;
  height: 500px;

  & > * {
    flex-grow: 1;
  }
}

.inner {
  max-width: var(--maxWidth);
  margin: auto;
  padding: 20px;
 
  h1 {
    font-size: 6rem;
    margin: 5rem 0;
  }
}

// **********SYMBOL

.svgContainer {
  width: 100%;
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name{
  visibility: hidden;
  transform: translatey(255px);
  font-size: 1.5rem;
}

