.container {
  position: absolute;
  left: 0;
  right: 0;
  padding: 2rem 0;
  background-color: var(--primary);
}

.image {
  position: relative;
  display: flex;
  height: 500px;

  & > * {
    flex-grow: 1;
  }
}

.inner {
  max-width: var(--maxWidth);
  margin: auto;
}
