
// ******** BACKGROUND
.container, .svgContainer {
  background-image: url('../../images/plaster.jpg');
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}

// ******** INDEX
.container {
  position: absolute;
  left: 0;
  right: 0;
  height: 86vh;
  background-position: left top;
  background-repeat: no-repeat;
}

.image {
  position: relative;
  display: flex;
  height: 500px;

  & > * {
    flex-grow: 1;
  }
}

.inner {
  max-width: var(--maxWidth);
  margin: auto;
  padding: 20px;
 
  .title {
    text-transform: uppercase;
    font-size: 6rem;
    margin: 5rem 0;
    
    a {
      font-family: "montreal";
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: black;
      
    }
    a:hover {
      -webkit-text-fill-color: black; 
    }
  }
}

// **********SYMBOL

.svgContainer {
  width: 100%;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name{
  visibility: hidden;
  transform: translatey(255px);
  text-indent: 25px;
  font-size: 1.5rem;
  letter-spacing: 8px;
}



@media screen and (max-width: 768px) {
  .inner {

    .title {
      margin: 2rem 0;
      line-height: .7;

      a {
        font-size: 4rem;
        margin: 0;
      }
    }
  }

  .svg {
    width: 390px;
  }
 }