@import url('../../styles/primary-styles.scss');
@import '../../styles/globals.scss';

nav {
  font-family: cigra;
  max-width: var(--maxWidth);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}

.logo {
  padding-left: 20px;
  font-size: 1.5rem;
  z-index: 5;
}

.navLinks {
  padding-right: 20px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  background-color: white;
  z-index: 2;
  text-transform: uppercase;
}

#link {
  margin-left: 25px;
  display: inline-block;
  position: relative;
  margin-left: 20px;
}

#link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.burger {
  padding-right: 20px;
  z-index: 2;
  display: none;
  outline: none;
  cursor: pointer;
  div {
    background-color: #000;
    width: 25px;
    height: 2px;
    margin: 5px;
    transition: ease-in-out 0.5s;
  }
}

@media screen and (max-width: 768px) {

  .navLinks {
    padding: 0;
    margin: 0;
    position: absolute;
    height: 116vh;
    top: 8vh;
    transform: translateY(-110%);
    transition: ease-in-out 0.5s;
    display: block;
    text-align: center;

    li {
      margin-top: 5rem;
    }
  }
  .burger {
    display: block;
  }
}

.navActive {
  transform: translateY(0);
}

.open {
  .line2 {
    width: 5px;
  }
}
