@import url("../../styles/primary-styles.scss");
@import "../../styles/globals.scss";

.container {
  background-color: var(--primary);
  -webkit-box-shadow: 0px -20px 50px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 0px -20px 50px 0px rgba(0, 0, 0, 0.27);
}

.content {
  @extend %center-layout;
  margin-top: 0;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  align-items: center;

  img {
    width: 25px;
    height: 25px;
    padding: 20px;
  }
}

.description {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 25px;
  }

  .content {
    flex-direction: column;
  }
}
