@import url("../../styles/primary-styles.scss");
@import "../../styles/globals.scss";

.container {
  background-color: var(--primary);
  padding: 100px;
  -webkit-box-shadow: 0px -20px 50px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 0px -20px 50px 0px rgba(0, 0, 0, 0.27);
}

.content {
  @extend %center-layout;
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
  align-items: center;

  img {
    width: 25px;
    height: 25px;
    padding: 20px;
  }
}

.description {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
